@media screen and (max-width:560px) {
    body{
        width: 100%;
    }
    .cabecalho .logo{
        height: 75px;
        display: block;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .principal .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .sobre{
        width: 100%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .sobre-div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .descricao-atividades-colunas{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10%;
    }

    .coluna1{
        width: 100%;
        text-align: justify;
        padding-bottom: 8%;
    }
    

    .areas-atuacao{
        width: 100%;
    }

    .areas-atuacao-div{
        padding-top: 2%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .areas-atuacao-itens{
        margin-top: 5%;
        width: 33%;
        color: var(--cor);
    }

    .areas-atuacao-responsivo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .whatsapp {
    position: fixed;
    top: 78%;
    left: 80%;
    padding: 1%;
    z-index: 10000000;
    height: 48px;
    border-radius: 100%;
}

.rodape-texto{
    display: flex;
    justify-content: center;
    color: white;
    padding: 1%;
    font-size: 0.8rem;
}


.menu{
    display: block;
    position: absolute;
    width: 100%;
    top:70px;
    background-color: #e7e7e7;
    right: 0px;
    display: block;
    z-index: 10000;
    transition: .6s;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

.nav.active .menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

.button{
        color: white;
        position: absolute;
        top: 4%;
        z-index: 1000000;
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5;
}
    .hamburguer{
        display: block;
        border-top: 2px solid ;
        width: 20px;
    }

    .hamburguer::after, .hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .nav.active .hamburguer{
        border-top-color:transparent ;
        transition: 2s;
    }

    .nav.active .hamburguer::before{
        transform: rotate(135deg) ;
    }

    .nav.active .hamburguer::after{
        transform: rotate(-135deg) ;
        top: -7px;
    }

    
}