
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');

@media screen and (min-width:1000px){
    
}
    
    :root{
        --cor:#16081E;
    }
    
    
    .cabecalho{
        background-color: #16081E;
    }
    
    .fonte-descricao{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    
    .fonte-titulo{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    
    .cabecalho .logo{
        height: 150px;
        display: block;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .principal{
        margin-top: 0.5%;
    }
    
    .principal .menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .principal .menu .menu-item{
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    .principal .menu .menu-item:hover{
        background-color: rgba(0, 0, 0, .5);
    }
    
    .button{
        display: none;
    }
    
    
    
    .sobre{
        margin: 0 auto;
        width: 60%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }
    
    .sobre-titulo {
        margin-bottom: 5%;
    }
    
    .sobre-div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    
    .sobre .sobre-imagem{
        height: 200px;
        border-radius: 100%;
    }
    
    .sobre .sobre-texto{
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        height: 100%;
    }
    
    .sobre-descricao{
        text-align: justify;
    }
    
    .descricao-atividades{
        margin-top: 10%;
        background-color: var(--cor);
        text-align: center;
    }
    
    .descricao-atividades-colunas{
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        align-items: top;
        margin-bottom: 10%;
    }
    
    .titulo-descricao-atividades{
        margin-top: 4%;
    }
    
    .coluna{
        width: 30%;
        margin-bottom: 8%;
    }
    
    .coluna1{
        width: 25%;
        text-align: justify;
    }
    
    .coluna1-titulo{
        text-align: center;
        padding-bottom: 3%;
    }
    .descricao-atividades-texto{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 80%;
        color: white;
    }
    
    .whatsapp {
        position: fixed;
        top: 78%;
        left: 90%;
        padding: 1%;
        z-index: 10000000;
        height: 72px;
        border-radius: 100%;
    }
    .areas-atuacao{
        margin-top: 10%;
    }
    
    .areas-atuacao-titulo{
        text-align: center;
        color: var(--cor);
    }
    
    .areas-atuacao-div{
        padding-top: 2%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .areas-atuacao-itens{
        margin-top: 5%;
        width: 33%;
        color: var(--cor);
    }
    
    .circulo {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--cor);
        }
    
    .texto{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .areas-atuacao-descricao{
        padding-top: 5%;
    
        width: 80%;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }
    
    .consultoria-lgpd{
        margin-top: 4%;
    }
    
    .consultoria-lgpd-texto{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .contato{
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    .contato-texto{
        display: flex;
        flex-direction: column;
        gap: 6px;
        text-align: center;
        margin: 0 auto;
        width: 60%;
    }
    
    .rodape{
        background-color: var(--cor);
    }
    
    .rodape-texto{
        display: flex;
        justify-content: center;
        color: white;
        padding: 1%;
        font-size: 1.5rem;
    }
    
    .caixa-alta{
        text-transform: uppercase;
    }
    
    
    
    li{
        text-align: left;
        font-size: 1rem;
    }
    
    .lista{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .coluna1-texto{
        padding-top: 10%;
        text-align: center;
    }
    
    .menu-item{
        color: black;
        font-size: 1px;
    }
    



