.circulo {
    margin:auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.areas-atuacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    row-gap: 10%;
    border: 1px solid red;
    align-items: flex-end;
}
.areas-atuacao-itens{
    border: 1px solid green;
}
.areas-atuacao-div{
    
}